<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbarTopFragment" class="navbar-fixed">
    <nav class="navbar-top">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3">
                    <a th:href="@{/}"><img class="logo hide-on-med-and-down" th:src="@{/img/logo-placeholder.png}"></a></img>
                </div>
                <form action="#" th:action="@{/search}" th:object="${searchDto}" method="post">
                    <div class="col s3">
                        <div class="input-field search-bar-border search-bar-top">
                            <input id="search" th:field="*{searchString}" type="search"
                                   th:placeholder="#{placeholder.search}"
                                   class="validate" th:classappend="${#fields.hasErrors('searchString')}  ? 'invalid' : ''">
                            <label class="label-icon search-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons search-clear-icon">close</i>
                            <div class="validation-error-input" th:if="${#fields.hasErrors('searchString')}"
                                 th:errors="*{searchString}"></div>
                        </div>
                    </div>
                    <div class="input-field col s2 search-bar-category-select">
                        <select name="categoryId" id="searchCategoriesSelect">
                            <option value="" selected th:text="#{label.category.all}"></option>
                            <option th:each="category : ${searchCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="col s1">
                        <button type="submit" class="btn-flat waves-effect search-bar-button"
                                th:text="#{button.search}">
                        </button>
                    </div>
                </form>
                <ul th:replace="/fragments/menu-navbar-top :: menu-navbar-top"></ul>

                <div class="col s3">
                    <ul class="right hide-on-med-and-down menu-top">
                        <li><a class="dropdown-button menu-top-link" href="#!"
                               data-activates="dropdown-menu">
                            <th:block th:if="${currentLoggedInUsername == null}" th:text="#{menu.top.text}"/>
                            <th:block th:if="${currentLoggedInUsername != null}" th:text="${currentLoggedInUsername}"/>
                            <i class="material-icons right">menu</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>