<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbarTopFragment" class="navbar-fixed">
    <nav class="navbar-top">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col l2 m2 hide-on-med-and-down">
                    <a th:href="@{/}"><img class="responsive-img logo" th:src="@{/img/auctionify_logo.png}"></a></img>
                </div>
                <form action="#" th:action="@{/search}" th:object="${searchDto}" method="get">
                    <div class="col s3 m3 l3">
                        <div class="input-field search-bar-border search-bar-top">
                            <input id="search" th:field="*{searchString}" type="search"
                                   th:placeholder="#{placeholder.search}"
                                   class="validate" th:classappend="${#fields.hasErrors('searchString')}  ? 'invalid' : ''">
                            <label class="label-icon search-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons search-clear-icon">close</i>
                            <div class="validation-error-input" th:if="${#fields.hasErrors('searchString')}"
                                 th:errors="*{searchString}"></div>
                        </div>
                    </div>
                    <div class="input-field col s2 m2 search-bar-category-select">
                        <select name="categoryId" id="searchCategoriesSelect">
                            <option value="" selected th:text="#{label.category.all}"></option>
                            <option th:each="category : ${searchCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="col s1 m1">
                        <button type="submit" class="btn-flat waves-effect search-bar-button"
                                th:text="#{button.search}">
                        </button>
                    </div>
                </form>
                <ul th:replace="fragments/menu-navbar-top :: menu-navbar-top"></ul>

                <div class="col s8 m6 l4 right">
                    <a class="btn-flat show-on-med-and-down right menu-home-icon" th:href="@{/}"><i class="material-icons">home</i></a>
                    <a class="my-account-button btn-flat tooltipped right"
                       th:attr="data-tooltip=#{tooltip.message.center}" th:href="@{/user/messages}"><i class="message-center-icon material-icons">mail_outline</i></a>
                    <span th:attr="data-tooltip=#{tooltip.message.new}" data-position="bottom" th:if="${newMessagesCount != 0 && newMessagesCount != null}" class="tooltipped message-badge new badge" th:text="${newMessagesCount}" data-badge-caption=""></span>
                    <a class="message-center-button btn-flat tooltipped right"
                       th:attr="data-tooltip=#{menu.label.user.finance}" th:href="@{/user/payments}"><i class="message-center-icon material-icons">monetization_on</i></a>
                    <ul class="right menu-top right hide-on-med-and-down">
                        <li><a class="dropdown-button menu-top-link" href="#!"
                               data-activates="dropdown-menu" data-constrainwidth="false">
                            <th:block th:text="#{menu.top.text}"/>
                            <i class="material-icons right">menu</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>