<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment(title)">
    <meta charset="utf-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/mdb.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/jquery.growl.css}"/>
<!--    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}"></title>
</head>
<body th:fragment="bodyFragment">
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/js/vueTextMask.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.growl.js}"></script>
<header>
    <div th:replace="layout/navbar-top :: navbarTopFragment"></div>
</header>
<div class="">
    <main th:include="this :: content">
    </main>
</div>
<div th:replace="layout/footer :: footerFragment"></div>
</body>
</html>