<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(${auctionDto != null} ? #{title.item(${auctionDto.title})} : #{title.auction.not.found})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="auction-container" th:if="${auctionDto != null}">
        <div class="row">
            <div class="col s7">
                <h3 th:text="${auctionDto.title}"></h3>
            </div>
            <div class="col s1 right">
                <a class="btn-floating btn-large waves-effect waves-light red observe-button"><i class="material-icons">star_border</i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img th:src="@{/img/placeholder.png}"/>
            </div>
            <div class="col s6">
                <div th:if="${auctionDto.isBuyout}" class="row">
                    <form action="#" th:action="@{/auction/offer}" th:object="${offerDto}" method="post">
                        <div class="row">
                            <div class="col s3">
                                <label for="bidStartingPrice" th:text="#{label.current.price}"></label>
                                <div id="bidStartingPrice" class="auction-price"
                                     th:text="#{label.money.amount(${auctionDto.bidStartingPrice})}"></div>
                            </div>
                            <div class="input-field col s2">
                                <input th:field="*{amount}" id="offer" type="text" th:placeholder="#{label.offer}"
                                       class="validate amount"
                                       th:classappend="${#fields.hasErrors('amount')}  ? 'invalid' : ''">
                                <label for="offer" th:text="#{label.offer}"></label>
                                <div class="validation-error-input" th:if="${#fields.hasErrors('amount')}"
                                     th:errors="*{amount}"></div>
                            </div>
                            <div class="col s4 offset-s3">
                                <label class="right" for="endCountdown" th:text="#{label.auction.to.end}"></label>
                                <div id="endCountdown" class="right"></div>
                                <input type="hidden" id="auctionEndDate" th:value="${auctionDto.endDate}">
                            </div>
                        </div>
                        <div class="row right">
                            <button class="btn waves-light waves-effect right" type="submit"
                                    th:text="#{button.bid}"></button>
                        </div>
                    </form>
                </div>
                <div th:if="${(auctionDto.isBuyout != null && auctionDto.isBuyout) && (auctionDto.isBid != null && auctionDto.isBid)}"
                     class="row">
                    <div class="divider"></div>
                </div>
                <div th:if="${auctionDto.isBid}" class="row">
                    <div class="row">
                        <div class="col s12">
                            <label for="buyoutPrice" th:text="#{label.buyout.price}"></label>
                            <div id="buyoutPrice" class="auction-price"
                                 th:text="#{label.money.amount(${auctionDto.price})}"></div>
                        </div>
                    </div>
                    <div class="row right">
                        <button class="btn waves-light waves-effect right" type="submit"
                                th:text="#{button.buyout}"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:utext="${auctionDto.editorContent}"></div>
        </div>
    </div>
    <div th:if="${auctionDto == null}" }>
        <div class="row">
            <div class="col s8 offset-s2">
                <h2 th:text="#{page.title.auction.not.found}"></h2>
                <div th:text="#{error.auction.not.found}"></div>
                <a class="right btn waves-light waves-effect" th:text="#{button.home.goto}" th:href="@{'/'}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>