<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/template :: headFragment(${auctionDto != null} ? #{title.item(${auctionDto.title})} : #{title.auction.not.found})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="auction-container" th:if="${auctionDto != null}">
        <div class="row">
            <div class="col s8">
                <h3 th:text="${auctionDto.title}"></h3>
            </div>
            <div sec:authorize="isAuthenticated()" class="col s4">
                <auction-observe></auction-observe>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s6 offset-s2">
                        <img th:src="@{/img/placeholder.png}"/>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div th:if="${auctionDto.isBid}" class="row">
                    <form id="bidForm" th:action="@{'/auction/bid/' + ${auctionDto.id}}" th:object="${bidDto}"
                          method="post">
                        <div class="row">
                            <div class="col s3">
                                <label for="bidStartingPrice" th:text="#{label.current.price}"></label>
                                <div id="bidStartingPrice" class="auction-price"
                                     th:text="#{label.money.amount(${auctionDto.winningBid != null ? auctionDto.winningBid.offeredPrice : auctionDto.bidStartingPrice})}"></div>
                                <div th:if="${!auctionDto.hasEnded}">
                                    <label th:if="${auctionDto.winningBid != null ? auctionDto.winningBid.offeredPrice
                                <= auctionDto.bidMinimalPrice : auctionDto.bidStartingPrice <= auctionDto.bidMinimalPrice}"
                                           th:text="#{label.minimum.price.not.met}"></label>
                                </div>
                            </div>
                            <div th:if="${!auctionDto.hasEnded}" class="input-field col s3">
                                <input th:field="*{offeredPrice}" id="offer" type="text" th:placeholder="#{label.offer}"
                                       class="validate money"
                                       th:classappend="${#fields.hasErrors('offeredPrice')}  ? 'invalid' : ''">
                                <label for="offer" th:text="#{label.offer}"></label>
                                <div class="validation-error-input" th:if="${#fields.hasErrors('offeredPrice')}"
                                     th:errors="*{offeredPrice}"></div>
                            </div>
                            <div th:if="${auctionDto.hasEnded}" class="col s8">
                                <p class="auction-ended" th:if="${auctionDto.winningBid == null}"
                                   th:text="#{auction.ended.no.bids}"></p>
                                <p class="auction-ended" th:if="${auctionDto.winningBid != null}"
                                   th:text="#{auction.ended.winner(${auctionDto.winningBid.username})}"></p>
                            </div>
                            <div th:if="${!auctionDto.hasEnded}" class="col s3 offset-s3">
                                <label class="right" for="endCountdown" th:text="#{label.auction.to.end}"></label>
                                <div id="endCountdown" class="right"></div>
                                <input type="hidden" id="auctionEndDate" th:value="${auctionDto.endDate}">
                            </div>
                        </div>
                        <div class="row right">
                            <button th:if="${!auctionDto.hasEnded}" class="btn waves-light waves-effect right"
                                    type="submit"
                                    th:text="#{button.bid}"></button>
                        </div>
                    </form>
                </div>
                <div th:if="${(auctionDto.isBuyout != null && auctionDto.isBuyout) && (auctionDto.isBid != null && auctionDto.isBid)}"
                     class="row">
                    <div class="divider"></div>
                </div>
                <div th:if="${auctionDto.isBuyout}" class="row">
                    <form id="buyoutForm" th:action="@{'/auction/confirm-buyout/' + ${auctionDto.id}}" th:object="${buyoutDto}"
                          method="post">
                        <div class="row">
                            <div class="col s3">
                                <label for="buyoutPrice" th:text="#{label.buyout.price}"></label>
                                <div id="buyoutPrice" class="auction-price"
                                     th:text="#{label.money.amount(${auctionDto.price})}"></div>
                            </div>
                            <div th:if="${!auctionDto.hasEnded}" class="col s3">
                                <input th:field="*{amountToBuy}" id="amountToBuy" type="text" th:placeholder="#{label.amount}"
                                       class="validate"
                                       th:classappend="${#fields.hasErrors('amountToBuy')}  ? 'invalid' : ''">
                                <div class="validation-error-input" th:if="${#fields.hasErrors('amountToBuy')}"
                                     th:errors="*{amountToBuy}"></div>
                            </div>
                            <div th:if="${!auctionDto.hasEnded}" class="col s3 amount-to-buy">
                                <div th:text="#{label.amount.to.buy(${auctionDto.currentAmount})}"></div>
                            </div>
                        </div>
                        <div class="row right">
                            <button th:if="${!auctionDto.hasEnded}" class="btn waves-light waves-effect right"
                                    type="submit"
                                    th:text="#{button.buyout}"></button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4"><a href="#shipping" th:text="#{label.shipping.localization}"></a>
                            </li>
                            <li class="tab col s4"><a href="#parameters" th:text="#{label.parameters}"></a></li>
                            <li class="tab col s4"><a href="#user" th:text="#{label.user}"></a></li>
                        </ul>
                    </div>
                    <div id="shipping" class="col s12">
                        <div class="col s6">
                            <div class="row">
                                <label for="placeholderPlace" th:text="Lokalizacja"></label>
                                <div id="placeholderPlace" th:text="Poznań"></div>
                            </div>
                            <div class="row">
                                <label for="placeholderShippingTime" th:text="#{placeholder.shipping.time}"></label>
                                <div id="placeholderShippingTime" th:text="#{placeholder.24h}"></div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field">
                                    <i class="material-icons prefix shipping-icon">local_shipping</i>
                                    <div class="shipping-text" th:utext="#{label.inpost('12.99')}"></div>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix shipping-icon">local_shipping</i>
                                    <div class="shipping-text" th:utext="#{label.dpd('18.99')}"></div>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix shipping-icon">local_shipping</i>
                                    <div class="shipping-text" th:utext="#{label.ups('16.99')}"></div>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix shipping-icon">local_shipping</i>
                                    <div class="shipping-text" th:utext="#{label.pocztex('14.99')}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="parameters" class="col s12">
                        <div class="row">
                            <label for="itemState" th:text="#{label.state}"></label>
                            <div id="itemState" th:text="${auctionDto.isNew} ? #{label.new} : #{label.used}"></div>
                        </div>
                    </div>
                    <div id="user" class="col s12">
                        <div class="row">
                            <label for="nickname" th:text="#{label.user}"></label>
                            <div id="nickname" th:text="${auctionDto.sellerDto.email}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 th:text="#{label.item.description}"></h5>
            <div class="ql-editor" th:utext="${auctionDto.editorContent}"></div>
        </div>
    </div>
    <div th:if="${auctionDto == null}" }>
        <div class="row">
            <div class="col s8 offset-s2">
                <h2 th:text="#{page.title.auction.not.found}"></h2>
                <div th:text="#{error.auction.not.found}"></div>
                <a class="right btn waves-light waves-effect" th:text="#{button.home.goto}" th:href="@{'/'}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>