<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.my.account})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4 l3"><a href="#userData" th:text="#{menu.label.user.data}"></a></li>
                <li class="tab col s4 l3"><a href="#changePassword" th:text="#{menu.label.change.password}"></a></li>
                <li class="tab col s4 l3"><a href="#changeEmail" th:text="#{menu.label.change.email}"></a></li>
                <li class="tab col s4 l3"><a href="#security" th:text="#{menu.label.security}"></a></li>
            </ul>
        </div>
    </div>
    <div id="userData">
        <div class="row">
            <form action="#" th:action="@{/user/my-account#userData}" th:object="${userExtendedDto}" method="post" class="col s8 offset-s2">
                <input id="successMessage" type="hidden" th:value="${successMessage}">
                <div class="row">
                    <h2 th:text="#{menu.label.user.data}"></h2>
                    <div class="input-field col s6">
                        <input th:field="*{firstName}" id="firstName" type="text"
                               th:placeholder="#{placeholder.user.name}"
                               class="validate" th:classappend="${#fields.hasErrors('firstName')}  ? 'invalid' : ''">
                        <label for="firstName" th:text="#{label.user.firstName}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}"></div>
                    </div>
                    <div class="input-field col s6">
                        <input th:field="*{surname}" id="surname" type="text"
                               th:placeholder="#{placeholder.user.surname}"
                               class="validate" th:classappend="${#fields.hasErrors('surname')}  ? 'invalid' : ''">
                        <label for="surname" th:text="#{label.user.surname}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('surname')}"
                             th:errors="*{surname}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input th:field="*{companyName}" id="company" type="text"
                               th:placeholder="#{placeholder.user.company}"
                               class="validate" th:classappend="${#fields.hasErrors('companyName')}  ? 'invalid' : ''">
                        <label for="company" th:text="#{label.user.company}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('companyName')}"
                             th:errors="*{companyName}"></div>
                    </div>
                    <div class="input-field col s6">
                        <input th:field="*{address}" id="address" type="text"
                               th:placeholder="#{placeholder.user.address}"
                               class="validate" th:classappend="${#fields.hasErrors('address')}  ? 'invalid' : ''">
                        <label for="address" th:text="#{label.user.address}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('address')}"
                             th:errors="*{address}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input th:field="*{zipCode}" id="zipcode" type="text"
                               th:placeholder="#{placeholder.user.zip.code}"
                               class="validate" th:classappend="${#fields.hasErrors('zipCode')}  ? 'invalid' : ''">
                        <label for="zipcode" th:text="#{label.user.zip.code}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('zipCode')}"
                             th:errors="*{zipCode}"></div>
                    </div>
                    <div class="input-field col s6">
                        <input th:field="*{city}" id="city" type="text"
                               th:placeholder="#{placeholder.user.city}"
                               class="validate" th:classappend="${#fields.hasErrors('city')}  ? 'invalid' : ''">
                        <label for="city" th:text="#{label.user.city}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('city')}"
                             th:errors="*{city}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label for="voivodeshipSelect" th:text="#{label.user.voivodeship}"></label>
                        <select id="voivodeshipSelect" name="voivodeship" th:classappend="${#fields.hasErrors('voivodeship')}  ? 'invalid' : ''">
                            <option th:text="#{placeholder.user.voivodehip}" value="" th:disabled="disabled" th:selected="selected"></option>
                            <option th:each="voivodeship : ${T(pro.lukasgorny.enums.VoivodeshipEnum).values()}"
                                    th:if="${userExtendedDto.voivodeship == voivodeship}" th:value="${voivodeship}" selected
                                    th:text="${voivodeship.name}"></option>
                            <option th:each="voivodeship : ${T(pro.lukasgorny.enums.VoivodeshipEnum).values()}"
                                    th:if="${userExtendedDto.voivodeship != voivodeship}" th:value="${voivodeship}"
                                    th:text="${voivodeship.name}"></option>
                        </select>
                        <div class="validation-error" th:if="${#fields.hasErrors('voivodeship')}" th:errors="*{voivodeship}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input th:field="*{firstPhoneNumber}" id="phone" type="text"
                               th:placeholder="#{placeholder.user.phone}"
                               class="validate" th:classappend="${#fields.hasErrors('firstPhoneNumber')}  ? 'invalid' : ''">
                        <label for="phone" th:text="#{label.user.phone}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('firstPhoneNumber')}"
                             th:errors="*{firstPhoneNumber}"></div>
                    </div>
                    <div class="input-field col s6">
                        <input th:field="*{secondPhoneNumber}" id="secondPhone" type="text"
                               th:placeholder="#{placeholder.user.phone}"
                               class="validate" th:classappend="${#fields.hasErrors('secondPhoneNumber')}  ? 'invalid' : ''">
                        <label for="secondPhone" th:text="#{label.user.second.phone}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('secondPhoneNumber')}"
                             th:errors="*{secondPhoneNumber}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 right">
                        <button class="btn waves-light waves-effect right" type="submit"
                                th:text="#{button.save}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="changePassword">
        <div class="row">
            <form action="#" th:action="@{/user/change-password#changePassword}" th:object="${changePasswordDto}" method="post"
                  class="col s8 offset-s3">
                <div class="row">
                    <h2 th:text="#{menu.label.change.password}"></h2>
                    <div class="input-field col s5">
                        <input th:field="*{actualPassword}" id="actualPassword" type="password"
                               th:placeholder="#{placeholder.user.actual.password}"
                               class="validate" th:classappend="${#fields.hasErrors('actualPassword')}  ? 'invalid' : ''">
                        <label for="firstName" th:text="#{label.user.actual.password}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('actualPassword')}"
                             th:errors="*{actualPassword}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5">
                        <input th:field="*{newPassword}" id="registrationPassword" type="password"
                               th:placeholder="#{placeholder.user.new.password}" data-delay="50"
                               th:attr="data-tooltip=#{registration.password.tooltip}" data-length="40"
                               class="tooltipped validate" th:classappend="${#fields.hasErrors('newPassword')}  ? 'invalid' : ''">
                        <label for="registrationPassword" th:text="#{label.user.new.password}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('newPassword')}"
                             th:errors="*{newPassword}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <button class="btn waves-light waves-effect right" type="submit"
                                th:text="#{button.save}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="changeEmail">
        <div class="row">
            <form action="#" th:action="@{/user/change-email#changeEmail}" th:object="${changeEmailDto}" method="post" class="col s8 offset-s3">
                <div class="row">
                    <h2 th:text="#{menu.label.change.email}"></h2>
                    <div class="input-field col s5">
                        <input th:field="*{actualPassword}" id="actualPassword" type="password"
                               th:placeholder="#{placeholder.user.actual.password}"
                               class="validate" th:classappend="${#fields.hasErrors('actualPassword')}  ? 'invalid' : ''">
                        <label for="firstName" th:text="#{label.user.actual.password}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('actualPassword')}"
                             th:errors="*{actualPassword}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5">
                        <input th:field="*{newEmail}" id="newEmail" type="email"
                               th:placeholder="#{placeholder.user.new.email}"
                               class="validate" th:classappend="${#fields.hasErrors('newEmail')}  ? 'invalid' : ''">
                        <label for="newEmail" th:text="#{label.user.new.email}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('newEmail')}"
                             th:errors="*{newEmail}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <button class="btn waves-light waves-effect right" type="submit"
                                th:text="#{button.save}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="security">
        <div class="row">
            <form action="#" th:action="@{/user/security#security}" th:object="${securityDto}" method="post" class="col s8 offset-s3">
                <div class="row">
                    <h2 th:text="#{page.title.fa}"></h2>
                    <div class="input-field col s5">
                        <input th:field="*{actualPassword}" id="actualPassword" type="password"
                               th:placeholder="#{placeholder.user.actual.password}"
                               class="validate" th:classappend="${#fields.hasErrors('actualPassword')}  ? 'invalid' : ''">
                        <label for="firstName" th:text="#{label.user.actual.password}"></label>
                        <div class="validation-error-input" th:if="${#fields.hasErrors('actualPassword')}"
                             th:errors="*{actualPassword}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <label for="using2fa" th:text="#{label.using2fa}"></label>
                        <div class="switch">
                            <label>
                                nie
                                <input id="using2fa" name="using2fa" type="checkbox" th:checked="${securityDto.using2fa}">
                                <span class="lever"></span>
                                tak
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <button class="btn waves-light waves-effect right" type="submit"
                                th:text="#{button.save}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>