<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.items.selling})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="row">
        <h2 th:text="#{page.title.item.selling}"></h2>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th th:text="#{label.auction.create.date}"></th>
                <th th:text="#{label.auction.end.date}"></th>
                <th th:text="#{label.observed.auction.title}"></th>
                <th th:text="#{label.price.buyout}"></th>
                <th th:text="#{label.bid.minimal.price}"></th>
                <th th:text="#{label.actual.price}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!#lists.isEmpty(auctions)}" th:each="auction : ${auctions}">
                <td th:text="${auction?.createDate}"></td>
                <td th:text="${auction?.endDateDotFormat}"></td>
                <td th:text="${auction?.title}"></td>
                <td th:text="${auction?.price != null ? auction?.price : '-'}"></td>
                <td th:text="${auction?.bidMinimalPrice != null ? auction?.bidMinimalPrice : '-'}"></td>
                <td th:text="${auction?.winningBid != null ? auction?.winningBid.price : auction?.bidStartingPrice}"></td>
                <td><a th:href="@{'/auction/get/' + ${auction?.id}}" th:text="#{button.auction.goto}"></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(auctions)}">
                <td th:text="#{label.no.auctions}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>