<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.my.ratings})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 l6"><a href="#receivedRating" th:text="#{menu.label.post.rating.received}"></a></li>
                <li class="tab col s6 l6"><a href="#issuedRating" th:text="#{menu.label.post.rating.issued}"></a></li>
            </ul>
        </div>
    </div>
    <div id="receivedRating">
        <div class="row">
            <h2 th:text="#{page.title.my.ratings.received}"></h2>
            <div class="row hide">
                <div class="col s8">
                    <div class="col s1">
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.positive}"
                           class="tooltipped rating-type-positive icon-larger material-icons">sentiment_very_satisfied</i>
                        <div th:text="${receivedRatingsCountPositive}"></div>
                    </div>
                    <div class="col s1">
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.neutral}"
                           class="tooltipped material-icons icon-larger">sentiment_neutral</i>
                        <div th:text="${receivedRatingsCountNeutral}"></div>
                    </div>
                    <div class="col s1">
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.negative}"
                           class="tooltipped rating-type-negative icon-larger material-icons">sentiment_very_dissatisfied</i>
                        <div th:text="${receivedRatingsCountNegative}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th th:text="#{label.rating.receive.date}"></th>
                    <th th:text="#{label.observed.auction.title}"></th>
                    <th th:text="#{label.rating.content}"></th>
                    <th th:text="#{label.rating.type}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!#lists.isEmpty(receivedRatings)}" th:each="rating : ${receivedRatings}">
                    <td th:text="${rating?.date}"></td>
                    <td th:text="${rating?.auctionName}"></td>
                    <td th:text="${rating?.content}"></td>
                    <td>
                        <i th:if="${rating?.ratingType == 'positive'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.positive}"
                           class="tooltipped rating-type-positive icon-larger material-icons">sentiment_very_satisfied</i>
                        <i th:if="${rating?.ratingType == 'neutral'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.neutral}"
                           class="tooltipped material-icons icon-larger">sentiment_neutral</i>
                        <i th:if="${rating?.ratingType == 'negative'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.negative}"
                           class="tooltipped rating-type-negative icon-larger material-icons">sentiment_very_dissatisfied</i>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(receivedRatings)}">
                    <td th:text="#{label.no.rating.to.display}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="issuedRating">
        <div class="row">
            <h2 th:text="#{page.title.my.ratings.issued}"></h2>
            <div class="row hide">
                <div class="col s8">
                    <div class="row">
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.positive}"
                           class="tooltipped rating-type-positive icon-larger material-icons">sentiment_very_satisfied</i>
                        <div th:text="${issuedRatingsCountPositive}"></div>
                    </div>
                    <div class="row">
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.neutral}"
                           class="tooltipped material-icons icon-larger">sentiment_neutral</i>
                        <div th:text="${issuedRatingsCountNeutral}"></div>
                    </div>
                    <div class="row">
                        <div th:text="${issuedRatingsCountNegative}"></div>
                        <i data-position="bottom" data-delay="20" th:attr="data-tooltip=#{label.rating.type.negative}"
                           class="tooltipped rating-type-negative icon-larger material-icons">sentiment_very_dissatisfied</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th th:text="#{label.rating.issue.date}"></th>
                    <th th:text="#{label.observed.auction.title}"></th>
                    <th th:text="#{label.rating.content}"></th>
                    <th th:text="#{label.rating.type}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!#lists.isEmpty(issuedRatings)}" th:each="rating : ${issuedRatings}">
                    <td th:text="${rating?.date}"></td>
                    <td th:text="${rating?.auctionName}"></td>
                    <td th:text="${rating?.content}"></td>
                    <td>
                        <i th:if="${rating?.ratingType == 'positive'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.positive}"
                           class="tooltipped rating-type-positive icon-larger material-icons">sentiment_very_satisfied</i>
                        <i th:if="${rating?.ratingType == 'neutral'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.neutral}"
                           class="tooltipped material-icons icon-larger">sentiment_neutral</i>
                        <i th:if="${rating?.ratingType == 'negative'}" data-position="right" data-delay="20"
                           th:attr="data-tooltip=#{label.rating.type.negative}"
                           class="tooltipped rating-type-negative icon-larger material-icons">sentiment_very_dissatisfied</i>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(issuedRatings)}">
                    <td th:text="#{label.no.rating.to.post}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>