<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.account})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div class="row">
        <h2 th:text="#{page.title.rating.sold}"></h2>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th th:text="#{label.observed.seller}"></th>
                <th th:text="#{label.items.sold.date}"></th>
                <th th:text="#{label.observed.auction.title}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!#lists.isEmpty(transactions)}" th:each="transaction : ${transactions}">
                <td th:text="${transaction?.buyerName}"></td>
                <td th:text="${transaction?.created}"></td>
                <td th:text="${transaction?.auctionResultDto?.title}"></td>
                <td><a th:href="@{'/user/rating/create/' + ${transaction.id}}" th:text="#{menu.label.post.rating}"></a></td>
            </tr>
            <tr th:if="${#lists.isEmpty(transactions)}">
                <td th:text="#{label.no.sold.items}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul th:replace="/user/fragments/rating-menu :: rating-menu"></ul>
    <div class="fixed-action-btn">
        <a href="#" data-activates="post-rating-side-nav" class="btn-floating btn-large post-rating-button-menu">
            <i class="large material-icons">menu</i>
        </a>
    </div>
</div>
</body>
</html>