<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="menu-navbar-top">
    <ul id="dropdown-menu" class="dropdown-content">
        <li><a th:href="@{/auction/sell}" class="menu-dropdown-top-black" th:text="#{menu.label.auction.sell}"></a></li>
        <li class="divider"></li>
        <li><a th:href="@{/user/account}" class="menu-dropdown-top-black" th:text="#{menu.label.user.account}"></a></li>
        <li><a th:href="@{/user/observing}" class="menu-dropdown-top-black" th:text="#{menu.label.user.observing}"></a></li>
        <li><a th:href="@{/user/rating/bought}" class="menu-dropdown-top-black" th:text="#{menu.label.post.rating}"></a></li>
        <li><a th:href="@{/user/item/sold}" class="menu-dropdown-top-black" th:text="#{menu.label.items.sold}"></a></li>
        <li><a th:href="@{/user/item/bought}" class="menu-dropdown-top-black" th:text="#{menu.label.items.bought}"></a></li>
        <li class="divider"></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a class="menu-top-login" th:href="@{/admin/panel}" th:text="#{menu.label.admin.panel}"></a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}" class="menu-top-create-account" th:text="#{page.title.create.account}"></a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"  class="menu-top-login" th:text="#{menu.label.login}"></a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/logout}" class="menu-top-login" th:text="#{menu.label.logout}"></a></li>
    </ul>
</div>
</body>
</html>