.navbar-top {
    background-color: white !important;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    height: 7rem;
}

.footer-custom {
    background-color: #3a4e58 !important;
    border-top: 1px solid #ddd;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 40px;
}

main {
    flex: 1 0 auto;
}

.logo {
    width: 180px;
    margin-top: 15px;
    margin-left: 7px;
}

.search-bar-category-select {
    margin-left: -23px !important;
    color: #ddd;
}

.nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field {
    height: 100%;
}

.search-bar-border {
    border: 1px solid #ddd !important;
}

.search-bar-category-select .select-dropdown {
    border: 1px solid #ddd !important;
    border-left: none !important;
    text-align: center;
}

.search-bar-button, .search-bar-category-select, .search-bar-top, .menu-top {
    margin-top: 29px !important;
    height: 3.1rem !important;
}

.search-bar-button {
    background-color: #2ECC71;
    margin-left: -23px;
    color: white;
    font-size: larger;
}

.search-button-icon {
    margin-top: -6px;
}

.search-clear-icon, search-icon {
    margin-top: -7px;
    color: black !important;
}

.search-icon {
    margin-top: -20px;
}

input[type=search] {
    color: #000 !important;
}

input[type=search] {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}

.display-none {
    display: none !important;
}

.menu-top-link {
    color: #000 !important;
    background-color: white !important;
}

.menu-top-create-account, .menu-top-login {
    text-align: center;
    font-weight: 600;
}

.validation-error {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-top: -15px;
    color: #e0211b;
}

.tooltip-left {
    text-align: left;
}

.btn {
    background-color: #2ECC71 !important;
}

.select-wrapper span.caret {
    margin-right: 10px !important;
}

.menu-dropdown-top-black {
    color: #222 !important;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.leaf {
    font-weight: 600;
}

.category, .category-previous {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.category:before, .category-previous:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2ECC71;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.category:hover:before, .category-previous:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.category-picker {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.category-picker-list {
    margin-top: -15px;
}

.category-picker-preloader {
    margin-left: 20px;
}

.breadcrumb-category {
    color: #000 !important;
    position: relative;
    top: 5px;
}

.breadcrumb-category.breadcrumb:before {
    color: #000 !important;
    position: relative;
    top: -5px;
}

.category-previous {
    margin-top: 7px;
}

.category-picker-error-message {
    margin-top: 10px;
}

.category-picker-error {
    border: 1px solid red;
}

.picked-category {
    margin-top: 10px;
}

.switch-margin-left {
    margin-left: 0px !important;
}

.ql-editor {
    min-height: 250px;
}