.navbar-top {
    background-color: white !important;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    height: 7rem;
}

.footer-custom {
    background-color: #3a4e58 !important;
    border-top: 1px solid #ddd;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 40px;
}

main {
    flex: 1 0 auto;
}

.tabs .indicator {
    background-color: RGB(200, 67, 255) !important;
}

.tabs .tab a.active {
    color: RGB(200, 67, 255) !important;
}

.tabs .tab a:hover {
    color: RGB(200, 67, 255) !important;
}

.tabs .tab a {
    color: RGB(34, 105, 255) !important;
}

.logo {
    margin-top: 15px;
    margin-left: 9px;
}

.search-bar-category-select {
    margin-left: -23px !important;
    color: #ddd;
}

.nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field {
    height: 100%;
}

.search-bar-border {
    border: 1px solid #ddd !important;
}

.search-bar-category-select .select-dropdown {
    border: 1px solid #ddd !important;
    border-left: none !important;
    text-align: center;
}

.search-bar-button, .search-bar-category-select, .search-bar-top {
    margin-top: 29px !important;
    height: 3.1rem !important;
}

.menu-top {
    margin-top: 23px;
}

.search-bar-button {
    background: linear-gradient(to bottom right, RGB(34, 105, 255), RGB(200, 67, 255));
    margin-left: -23px;
    color: white;
    font-size: larger;
}

.search-button-icon {
    margin-top: -6px;
}

.search-clear-icon, .search-icon {
    margin-top: -7px;
    color: black !important;
}

.search-icon {
    margin-top: -20px;
}

input[type=search] {
    color: #000 !important;
}

input[type=search] {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}

.display-none {
    display: none !important;
}

.menu-top-link {
    color: #000 !important;
    background-color: white !important;
}

.menu-top-item {
    text-align: center;
    font-weight: 600;
    color: RGB(34, 105, 255) !important;
}

div.validation-error {
    padding: 6px;
    color: #fff;
    background-color: #ff5252;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 13px 13px 13px 0px;
}

div.validation-error:before {
    content: ' ';
    height: 0;
    position: relative;
    width: 0;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ff5252;
    bottom: 34px;
}

div.validation-error-input {
    padding: 6px;
    color: #fff;
    background-color: #ff5252;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 0px 13px 13px 0px;
}

div.validation-error-input:before {
    content: ' ';
    height: 0;
    position: relative;
    width: 0;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ff5252;
    bottom: 34px;
}

.tooltip-left {
    text-align: left;
}

.btn {
    background: linear-gradient(to bottom right, RGB(34, 105, 255), RGB(200, 67, 255));
}

.select-wrapper span.caret {
    margin-right: 10px !important;
}

.menu-dropdown-top-black {
    color: #222 !important;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.category-previous, .change-choice {
    font-weight: bold;
}

.category, .category-previous {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.category:before, .category-previous:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2ECC71;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.category:hover:before, .category-previous:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.category-picker {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.category-picker-list {
    margin-top: -15px;
}

.category-picker-preloader {
    margin-left: 20px;
}

.breadcrumb-category {
    color: #000 !important;
    position: relative;
    top: 5px;
}

.breadcrumb-category.breadcrumb:before {
    color: #000 !important;
    position: relative;
    top: -5px;
}

.category-previous {
    margin-top: 7px;
}

.category-picker-error-message {
    margin-top: 10px;
}

.category-picker-error {
    border: 1px solid red;
}

.picked-category {
    margin-top: 10px;
}

.switch-margin-left {
    margin-left: 0px !important;
}

.ql-editor {
    min-height: 250px;
}

.toolbar-custom {
    margin-top: 10px;
}

.observe-button {
    margin-top: 25px;
}

.auction-divider {
    margin-bottom: 20px;
}

.auction-price {
    font-size: 20px;
    font-weight: bold;
}

.shipping-icon {
    margin-top: -5px;
}

.shipping-text {
    margin-left: 35px;
}

.auction-ended {
    margin-top: 0px;
    font-weight: bold;
}

.observe-button {
    margin-top: 32px;
    margin-left: 22px;
}

.toast-success {
    background-color: #00C853;
}

.toast-error {
    background-color: #ff5252;
}

.menu-left-no-shadow {
    box-shadow: none;
}

.account-top-margin {
    margin-top: 15px;
}

.amount-to-buy {
    margin-top: 15px;
}

.post-rating-menu-header {
    margin-left: 15px;
}

.rating-type-negative {
    color: red;
}

.rating-type-positive {
    color: forestgreen;
}

.icon-larger {
    font-size: 30px;
}

.single-auction-result-photo {
    width: 80%;
}

.single-auction-result-title {
    margin-top: 10px;
    margin-left: -45px !important;
}

.single-auction-result-price-position {
    margin-left: -45px !important;
    margin-top: -20px;
    height: 0;
}

.single-auction-result-price {
    font-weight: bold;
    font-size: 1.5em;
}

.single-auction-result-price-with-shipping-position {
    margin-left: -45px !important;
    margin-top: 80px;
    color: #a9a9a9;
}

.single-auction-result {
    margin-top: 25px;
}

ul.dropdown-content.select-dropdown li span {
    color: RGB(34, 105, 255);
}

.card .card-action a {
    color: RGB(34, 105, 255) !important;
}

.card .card-action a:hover {
    color: RGB(200, 67, 255) !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: RGB(73, 145, 255);
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: RGB(34, 105, 255);
}

.search-result-price {
    font-weight: bold;
}

.buyout-label {
    margin-top: -10px;
}

.buyout-label, .buyout-label-with-bid {
    color: RGB(34, 105, 255);
}

.buyout-label-with-bid {
    margin-top: -8px;
}

.filter-return-icon {
    margin-left: 19px;
    cursor: pointer;
}

.collection-item {
    cursor: pointer;
}

.gallery-thumbnail {
    cursor: pointer;
    padding-top: 20px;
    max-height: 130px;
    padding-bottom: 20px;
    padding-left: 20px;
    max-width: 85% !important;%;
}

.gallery-border {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.main-gallery-image {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.gallery-fullscreen-img {
    width: 100%;
}

.card-image {
    height: 370px;
    padding-top: 20px;
}

.gallery-thumbnail-fixed-height {
    height: 130px;
    margin-left: 5px !important;
}

.gallery-thumbnail-active {
    border-radius: 5px;
    border: 2px solid RGB(34, 105, 255);
}

.gallery-thumbnail-not-active {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.gallery-thumbnail-fixed-height:hover {
    border: 2px solid RGB(200, 67, 255) !important;
}

.fullscreen-modal {
    width: 77% !important;
}

.search-main-image {
    width: 80%;
}

.until-out-of-items-tooltip {
    margin-left: -60%;
    margin-top: 5px;
}

.until-out-of-items-text {
    margin-top: 6%;
}

.search-breadcrumbs {
    margin-left: 0.3%;
    margin-top: -1.3%;
    margin-bottom: -1%;
}

.search-breadcrumbs-no-results {
    margin-left: 0.3%;
    margin-top: -1.3%;
    margin-bottom: 1%;
}

.search-preloader {
    margin-top: 20px;
}

.home-auction-image {
    width: 90%;
    margin-left: 5%;
}

.display-rating {
    font-size: 1.1rem !important;;
    margin-left: 3px;
}

.mt-plus-10 {
    margin-top: 10px;
}

.mt-plus-33 {
    margin-top: 33px;
}

.message-center-icon {
    margin-top: -5px;
}

.message-center-button, .my-account-button {
    margin-top: 27px;
    width: 5%;
}

.menu-home-icon {
    width: 5%;
    margin-top: 22px;
}

.message-badge {
    margin-top: 43px;
    margin-right: -24px;
    background-color: red !important;
}

.message-new-row {
    background-color: #6DC066;
}

.message-content {
    word-break: break-word;
}

.auction-title {
    word-break: break-word;
}