<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.registration})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div id="registrationForm" class="row">
        <form action="#" th:action="@{/register}" th:object="${userDto}" method="post"
              class="col s10 offset-s3">
            <div class="row">
                <h2 th:text="#{page.title.create.account}"></h2>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input th:field="*{email}" th:placeholder="#{placeholder.email}" id="email" type="email"
                           class="validate" th:classappend="${#fields.hasErrors('email')}  ? 'invalid' : ''" required>
                    <label for="email" th:text="#{label.email}"></label>
                    <div class="validation-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input id="password" th:field="*{password}" data-length="40"
                           th:placeholder="#{placeholder.password.register}"
                           type="password" class="tooltipped validate" data-delay="50"
                           th:attr="data-tooltip=#{registration.password.tooltip}"
                           th:classappend="${#fields.hasErrors('email')}  ? 'invalid' : ''" required>
                    <label for="password" th:text="#{label.password}"></label>
                    <div id="passwordValidationError" class="validation-error" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <h5 th:text="#{label.birthdate}"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <input id="birthdayDay" th:field="*{birthdayDay}" th:placeholder="#{placeholder.day}" data-mask="00"
                           type="text"
                           class="validate" required th:classappend="${#fields.hasErrors('birthdayDay')}  ? 'invalid' : ''">
                    <div class="validation-error" th:if="${#fields.hasErrors('birthdayDay')}" th:errors="*{birthdayDay}"></div>
                </div>
                <div class="col s4">
                    <select th:field="*{birthdayMonth}" th:classappend="${#fields.hasErrors('birthdayMonth')}  ? 'invalid' : ''"
                            required>
                        <option th:text="#{placeholder.month}" value="" disabled selected></option>
                        <option th:each="month : ${months}" th:value="${month.monthNumber}"
                                th:text="${month.translation}"></option>
                    </select>
                    <div class="validation-error" th:if="${#fields.hasErrors('birthdayMonth')}" th:errors="*{birthdayMonth}"></div>
                </div>
                <div class="col s2">
                    <input id="birthdayMonth" th:field="*{birthdayYear}" th:placeholder="#{placeholder.year}" data-mask="0000"
                           type="text"
                           class="validate" th:classappend="${#fields.hasErrors('birthdayYear')}  ? 'invalid' : ''" required>
                    <div class="validation-error" th:if="${#fields.hasErrors('birthdayYear')}" th:errors="*{birthdayYear}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <button class="btn waves-light waves-effect right" type="submit"
                            th:text="#{button.create.account}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>