<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: headFragment(#{title.registration})">
    <title>Index</title>
    <meta charset="utf-8"/>
</head>
<body th:replace="layout/template :: bodyFragment">
<div th:fragment="content">
    <div id="registrationForm" class="row">
        <form action="#" th:action="@{/register}" th:object="${userDto}" method="post"
              class="col s10 offset-s3">
            <div class="row">
                <h2 th:text="#{page.title.create.account}"></h2>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input th:field="*{email}" th:placeholder="#{placeholder.email}" id="email" type="email"
                           class="validate" th:classappend="${#fields.hasErrors('email')}  ? 'invalid' : ''">
                    <label for="email" th:text="#{label.email}"></label>
                    <div class="validation-error-input" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input id="registrationPassword" th:field="*{password}" data-length="40"
                           th:placeholder="#{placeholder.password.register}"
                           type="password" class="tooltipped validate" data-delay="50"
                           th:attr="data-tooltip=#{registration.password.tooltip}"
                           th:classappend="${#fields.hasErrors('email')}  ? 'invalid' : ''">
                    <label for="registrationPassword" th:text="#{label.password}"></label>
                    <div id="passwordValidationError" class="validation-error-input" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label for="using2fa" th:text="#{label.using2fa}"></label>
                    <div class="switch">
                        <label>
                            nie
                            <input id="using2fa" name="using2fa" type="checkbox" checked>
                            <span class="lever"></span>
                            tak
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <button class="btn waves-light waves-effect right" type="submit"
                            th:text="#{button.create.account}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>